DATABASE_USER=""
DATABASE_PASSWORD=""
DATABASE_NAME=""
DATABASE_HOST="localhost"
DATABASE_PORT="5432"

RABBITMQ_USER=""
RABBITMQ_PASSWORD=""
RABBITMQ_VHOST="/"
RABBITMQ_URL="amqp://example:example@localhost:5672/"
CORS_ORIGINS="http://localhost:5173,http://127.0.0.1:5173"
PAYMENT_MOCK_DELAY_SECONDS="5"
INTERNAL_SYSTEM_FAILURE_RATE="0.3"
INTERNAL_SYSTEM_TIMEOUT_SECONDS="10"
INTERNAL_SYSTEM_MAX_ATTEMPTS="3"
INTERNAL_SYSTEM_BACKOFF_SECONDS="1"
WORKER_PREFETCH="5"

LOG_DIR="logs"
WORKER_METRICS_PORT="9200"

GRAFANA_ADMIN_USER="admin"
GRAFANA_ADMIN_PASSWORD="admin"
GRAFANA_ANONYMOUS_ENABLED="true"
GRAFANA_ANONYMOUS_ORG_ROLE="Viewer"
