DATABASE_USER=""
DATABASE_PASSWORD=""
DATABASE_NAME=""
DATABASE_HOST="localhost"
DATABASE_PORT="5432"

RABBITMQ_USER=""
RABBITMQ_PASSWORD=""
RABBITMQ_VHOST="/"
RABBITMQ_URL="amqp://example:example@localhost:5672/"