DATABASE_USER=""
DATABASE_PASSWORD=""
DATABASE_NAME=""
DATABASE_HOST="localhost"
DATABASE_PORT="5432"

RABBITMQ_USER=""
RABBITMQ_PASSWORD=""
RABBITMQ_VHOST="/"
RABBITMQ_URL="amqp://example:example@localhost:5672/"
CORS_ORIGINS="http://localhost:5173,http://127.0.0.1:5173"
PAYMENT_MOCK_DELAY_SECONDS="5"
